* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    height: 90px;
    background-color: black;
    display: flex;
    justify-content: center;
}

header>div{
    display: flex;
    width: 960px;
    /* margin: 0 auto; */
    align-items: center;
}

header>div div {
    color: white;
    font-size: 20px;
    margin:0 30px;
}

header img {
    width: 200px;
    height: 70px;
}

main {
    width: 960px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

main div:nth-child(1){
    margin-bottom: 30px;
}

main div:nth-child(2) {
    margin-right: 30px;
}

main div:nth-child(3) {
    margin-right: 30px;
}

main div:nth-child(5){
    margin-top: 30px;
    margin-right: 30px;
}

main div:nth-child(6){
    margin-top: 30px;
    width: 450px;
}

main div:nth-child(6) p{
    height: 332px;
    overflow: scroll;
}
main div:nth-child(6) p::-webkit-scrollbar{
    display: none;

}


main div:nth-child(6) button {
    height: 40px;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 20px;
}

footer {
    height: 90px;
    background-color: black;
}